@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
body{
    font-family: 'Roboto';
}
.text-color-white{
    color: white;
}
.button-color{
    background: coral;
    border: lightcoral;
}
.logo-font{
    font-size: 32px;
    font-weight: 900;
}
.dark-bg{
    background:#525252;
}